
<div class="contenedor">
    <div class="columna">

        <h3 class="titulo">
            Enlace
        </h3>
        <a href="">Declaración de Accesibilidad</a>
        <a href="">Aviso de privacidad</a>
        <a href="">Términos y condiciones</a>
        <a href="">Política de seguridad</a>
        <img class="logo" src="assets/images/logo.png">

    </div>
    <div class="columna">
        <h3 class="titulo">
            ¿Qué es gob.mx?
        </h3>
        <span>Es el portal único de trámites, información
            y participación ciudadana. <a href="">Leer más</a> </span>

        <a href="">Temas</a>
        <a href="">Reformas</a>
        <h3> Síguenos en</h3>
        <div>
            <a href="https://www.facebook.com/gobmx">
                <img src="assets/images/face.png">

            </a>

            <a href="https://twitter.com/gobmx">
                <img src="assets/images/twitter.png">
            </a>
        </div>
    </div>
    <div class="columna">
        <h3 class="titulo">
            Contacto
        </h3>
        <span>Mesa de ayuda </span>
        <span>gobmx@funcionpublica.gob.mx </span>
        <a href="">Denuncia contra servidores públicos</a>
    </div>

</div>

