<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./home-ecommerce.component.css">
</head>

<body>
    <div>
        <div class="header">
            <div class="header-container-search">
                <input id="header-container-search-input" type="text" placeholder = "Buscar">
            </div>
            <div class="header-container-icons">
                <ul>
                    <li> <button id="header-container-icons-ul"><img src="https://image.flaticon.com/icons/png/512/16/16363.png" alt="Profile" width="25" height="25"></button> </li>
                    <li> <button id="header-container-icons-ul"><img src="https://pngimg.com/uploads/shopping_cart/shopping_cart_PNG38.png" alt="Profile" width="25" height="25"></button> </li>
                    <li> <button id="header-container-icons-ul"><img src="https://www.flaticon.es/premium-icon/icons/svg/1342/1342316.svg" alt="Profile" width="25" height="25"></button> </li>
                    <li> <button id="header-container-icons-ul"><img src="http://assets.stickpng.com/images/588a6507d06f6719692a2d15.png" alt="Profile" width="25" height="25"></button> </li>

                    
                </ul>
            </div>
        </div>
    </div>

    <main>
        <div class = "titulo">
            <a routerLink="/ecommerce/categorias"> Categorías </a> 
            <div>
                <img id="img1"
                src="https://tse2.explicit.bing.net/th?id=OIP.puH5OHVtXLtX4oev5lgIXgHaHa&pid=Api&P=0&w=300&h=300%22%3E" width="175" height = "175">
                <img id="img1"
                src="https://tse2.explicit.bing.net/th?id=OIP.puH5OHVtXLtX4oev5lgIXgHaHa&pid=Api&P=0&w=300&h=300%22%3E" width="175" height = "175">
            </div>
            Cerca de ti
            <div>
                <img id="img1"
                src="https://tse2.explicit.bing.net/th?id=OIP.puH5OHVtXLtX4oev5lgIXgHaHa&pid=Api&P=0&w=300&h=300%22%3E" width="175" height = "175">
                <img id="img1"
                src="https://tse2.explicit.bing.net/th?id=OIP.puH5OHVtXLtX4oev5lgIXgHaHa&pid=Api&P=0&w=300&h=300%22%3E" width="175" height = "175">
                <img id="img1"
                src="https://tse2.explicit.bing.net/th?id=OIP.puH5OHVtXLtX4oev5lgIXgHaHa&pid=Api&P=0&w=300&h=300%22%3E" width="175" height = "175">
                <img id="img1"
                src="https://tse2.explicit.bing.net/th?id=OIP.puH5OHVtXLtX4oev5lgIXgHaHa&pid=Api&P=0&w=300&h=300%22%3E" width="175" height = "175">
                <img id="img1"
                src="https://tse2.explicit.bing.net/th?id=OIP.puH5OHVtXLtX4oev5lgIXgHaHa&pid=Api&P=0&w=300&h=300%22%3E" width="175" height = "175">
                <img id="img1"
                src="https://tse2.explicit.bing.net/th?id=OIP.puH5OHVtXLtX4oev5lgIXgHaHa&pid=Api&P=0&w=300&h=300%22%3E" width="175" height = "175">
            
            </div>
            Promociones 
            <div>
                <img id="img1"
                src="https://tse2.explicit.bing.net/th?id=OIP.puH5OHVtXLtX4oev5lgIXgHaHa&pid=Api&P=0&w=300&h=300%22%3E" width="175" height = "175">
                <img id="img1"
                src="https://tse2.explicit.bing.net/th?id=OIP.puH5OHVtXLtX4oev5lgIXgHaHa&pid=Api&P=0&w=300&h=300%22%3E" width="175" height = "175">
                <img id="img1"
                src="https://tse2.explicit.bing.net/th?id=OIP.puH5OHVtXLtX4oev5lgIXgHaHa&pid=Api&P=0&w=300&h=300%22%3E" width="175" height = "175">
                <img id="img1"
                src="https://tse2.explicit.bing.net/th?id=OIP.puH5OHVtXLtX4oev5lgIXgHaHa&pid=Api&P=0&w=300&h=300%22%3E" width="175" height = "175">
                <img id="img1"
                src="https://tse2.explicit.bing.net/th?id=OIP.puH5OHVtXLtX4oev5lgIXgHaHa&pid=Api&P=0&w=300&h=300%22%3E" width="175" height = "175">
                <img id="img1"
                src="https://tse2.explicit.bing.net/th?id=OIP.puH5OHVtXLtX4oev5lgIXgHaHa&pid=Api&P=0&w=300&h=300%22%3E" width="175" height = "175">
            
            </div>
        </div>
    </main> 
</body>
</html>