.video {
    margin-left: 390px;
    margin-top: 75px;
}

.cont-bar {
    margin-left: 308px;
    margin-top: 50px;
    margin-bottom: 5px;
}

.content {
    margin-left: 308px;
    margin-right: 300px;
}