<div id="post">
  
    <div id="post-header">
      
      <h1 id="post-header-title"> Crear publicación </h1>
      <div id="post-header-body"> 
      
        <h3 id="post-header-category"> Simulador | Educación financiero </h3>
        <h4 id="post-header-user"> BryanGA </h4>
        
      </div>
      
    </div>
  
    <div id="post-main">
      <div id="post-body">
  
        <div id="post-selection">
  
          <div id="post-selection-text" class="post-selection-post">
            Publicación
          </div>
          <div id="post-selection-image" class="post-selection-post">
            Imágenes y vídeos
          </div>
          <div id="post-selection-link" class="post-selection-post">
            Links
          </div>
          <div id="post-selection-more" class="post-selection-post">
            More
          </div>
  
        </div>
        <div id="post-input">
  
            <input type="text" id="post-input-title" name="fname"><br><br>
            <div id="post-input-options">Optiones </div>
            <input type="text" id="post-input-body" name="lname"><br><br>
  
        </div>
        <div id="post-submit">
  
            <button type="button" > Cancelar</button>
            <button type="button" > Publicar</button>
  
        </div>
  
      </div>
  
      <div id="post-related">
  
        <div id="post-related-info">
          Comunidad:
            - Publicaciones
        </div>
        <div id="post-related-more">
          Nuevos cambios:
            - 
        </div>
      </div>
    </div>
  </div>