<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://kit.fontawesome.com/d724ccf3ce.js" crossorigin="anonymous"></script>    
    
    
    
    <title>Categoría</title>
</head>
<body>
    
    <div class="navbar">
        <div class="navbar__up">
            <a href="" class="contenedor__btn__return">
                <div class="btn__return">
                    <i class="fas fa-chevron-left"></i>
                    <p>Categorías</p>
                </div>
            </a>
            <div class="menu">
                <ul>
                    <a href="#"><li>Inicio |</li></a>
                    <a href="#"><li>Tienda |</li></a>
                    <a href="#"><li>Cursos |</li></a>
                    <a href="#"><li>Simulación</li></a>
                </ul>
            </div>
        </div>

        <div class="navbar__down">
            <div class="searchbar__navbar">
                <input type="text" placeholder=" Buscar productos por nombre.">
                <i class="fas fa-search"></i>
            </div>
            <div class="btn_cart__navbar">
                <div class="btn__cart">
                    <div class="text_logo">
                        <i class="fas fa-shopping-cart"></i>
                        Mi carrito
                    </div>
                    <div class="quantity">
                        99+
                    </div>
                </div>
            </div>
        </div>
       
    </div>


    <section class="all">
        <div class="izq">
            <div class="menu_categorias">
                <h3>Todas las categorías</h3>
                <ul>
                   <strong><li>Categoría X</li></strong> 
                        <ul class="second_layer_list">
                            <li>Lorem ipsum dolor sit</li> 
                            <li>Lorem ipsum dolor sit</li> 
                            <li>Lorem ipsum dolor sit</li> 
                            <li>Lorem ipsum dolor sit</li> 
                        </ul>
                    <strong><li>Categoría X</li></strong> 
                    <strong><li>Categoría X</li></strong> 
                    <strong><li>Categoría X</li></strong> 
                    <strong><li>Categoría X</li></strong> 
                    <strong><li>Categoría X</li></strong> 
                    <strong><li>Categoría X</li></strong> 
                </ul>
            </div>
            <div class="panel_filtros">
                  <h3>Buscar por....</h3>  
                  <div class="contenedor__tools">
                      <div class="check__option">
                        <input type="checkbox" name="" id="check1">
                        <label for="check1">Alfabeticamente A - Z.</label>
                      </div>

                      <div class="check_option">
                         <input type="checkbox" name="" id="check2">
                         <label for="check2">Alfabeticamente Z - A.</label>
                      </div>
                      
                      <div class="check_option">
                         <input type="checkbox" name="" id="check3">
                         <label for="check3">Mayor precio.</label>
                      </div>

                      <div class="check_option">
                         <input type="checkbox" name="" id="check4">
                         <label for="check4">Menor precio.</label>
                      </div>


                      
                       <label for="check1"><strong>Rango de precios</strong> </label>
                      <div class="slidecontainer">
                          
                        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                      </div>
                  </div>
            </div>
        </div>
        <div class="der">
            <div class="der_up">
                <h2>Categoría X</h2>

                <div class="pages">
                    <a href="#">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                     <p>1 de 3</p>
                    <a href="#">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <hr style="width:99%;color:black;background: black;">
            <div class="der_down">


                <div class="contenedor__tarjetas">
                    <div class="contenedor__img">
                        <div class="img"> </div>
                    </div>
                    <div class="contenedor__detalles">
                        <p class="nombre__art">Lorem ipsum dolor sit</p>
                        <p class="precio__art">$120.00</p>
                        <button id="btn__prod">ver</button>

                    </div>
                </div>


                <div class="contenedor__tarjetas">
                    <div class="contenedor__img">
                        <div class="img"> </div>
                    </div>
                    <div class="contenedor__detalles">
                        <p class="nombre__art">Lorem ipsum dolor sit</p>
                        <p class="precio__art">$120.00</p>
                        <button id="btn__prod">ver</button>

                    </div>
                </div>


                <div class="contenedor__tarjetas">
                    <div class="contenedor__img">
                        <div class="img"> </div>
                    </div>
                    <div class="contenedor__detalles">
                        <p class="nombre__art">Lorem ipsum dolor sit</p>
                        <p class="precio__art">$120.00</p>
                        <button id="btn__prod">ver</button>

                    </div>
                </div>


                <div class="contenedor__tarjetas">
                    <div class="contenedor__img">
                        <div class="img"> </div>
                    </div>
                    <div class="contenedor__detalles">
                        <p class="nombre__art">Lorem ipsum dolor sit</p>
                        <p class="precio__art">$120.00</p>
                        <button id="btn__prod">ver</button>

                    </div>
                </div>

                <div class="contenedor__tarjetas">
                    <div class="contenedor__img">
                        <div class="img"> </div>
                    </div>
                    <div class="contenedor__detalles">
                        <p class="nombre__art">Lorem ipsum dolor sit</p>
                        <p class="precio__art">$120.00</p>
                        <button id="btn__prod">ver</button>

                    </div>
                </div>

                <div class="contenedor__tarjetas">
                    <div class="contenedor__img">
                        <div class="img"> </div>
                    </div>
                    <div class="contenedor__detalles">
                        <p class="nombre__art">Lorem ipsum dolor sit</p>
                        <p class="precio__art">$120.00</p>
                        <button id="btn__prod">ver</button>

                    </div>
                </div>

                <div class="contenedor__tarjetas">
                    <div class="contenedor__img">
                        <div class="img"> </div>
                    </div>
                    <div class="contenedor__detalles">
                        <p class="nombre__art">Lorem ipsum dolor sit</p>
                        <p class="precio__art">$120.00</p>
                        <button id="btn__prod">ver</button>

                    </div>
                </div>

                <div class="contenedor__tarjetas">
                    <div class="contenedor__img">
                        <div class="img"> </div>
                    </div>
                    <div class="contenedor__detalles">
                        <p class="nombre__art">Lorem ipsum dolor sit</p>
                        <p class="precio__art">$120.00</p>
                        <button id="btn__prod">ver</button>

                    </div>
                </div>


            </div>
        </div>

    </section>

</body>
</html>





<a routerLink="/ecommerce/detalle-producto"> ver detalle-productos </a> 

