<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://kit.fontawesome.com/d724ccf3ce.js" crossorigin="anonymous"></script>    
    
    
    
    <title>Categoría</title>
</head>
<body>
    
    <div class="navbar">
        <div class="navbar__up">
            <a href="">
                <div class="btn__return">
                    <i class="fas fa-chevron-left"></i>
                    <p>Categorías</p>
                </div>
            </a>
            <div class="menu">
                <ul>
                    <li>Inicio</li>
                    <li>Tienda</li>
                    <li>Cursos</li>
                    <li>Simulación</li>
                </ul>
            </div>
        </div>

        <div class="navbar__down">
            <div class="searchbar__navbar">
                <input type="text" placeholder="Buscar prodcutos por nombre.">
            </div>
            <div class="btn_cart__navbar">
                <div class="btn__cart">
                    <div class="text_logo">

                    </div>
                    <div class="quantity">

                    </div>
                </div>
            </div>
        </div>
       
    </div>


    <section class="all">
        <div class="izq">
            <div class="menu_categorias">
                <h3>Todas las categorías</h3>
                <ul>
                    <li>Categoría X</li>
                        <ul>
                            <li>Lorem ipsum dolor sit</li> 
                            <li>Lorem ipsum dolor sit</li> 
                            <li>Lorem ipsum dolor sit</li> 
                            <li>Lorem ipsum dolor sit</li> 
                        </ul>
                    <li>Categoría X</li>
                    <li>Categoría X</li>
                    <li>Categoría X</li>
                    <li>Categoría X</li>
                    <li>Categoría X</li>
                    <li>Categoría X</li>
                </ul>
            </div>
            <div class="panel_filtros">
                  <h3>Buscar por....</h3>  
                  <div class="contenedor__tools">
                      <input type="checkbox" name="" id="check1">
                      <label for="check1">Alfabeticamente A - Z.</label>

                      <input type="checkbox" name="" id="check1">
                      <label for="check1">Alfabeticamente Z - A.</label>
                      
                      <input type="checkbox" name="" id="check1">
                      <label for="check1">Mayor precio.</label>

                      <input type="checkbox" name="" id="check1">
                      <label for="check1">Menor precio.</label>


                      <label for="check1">Rango de precios</label>
                      <div class="slidecontainer">
                        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                      </div>
                  </div>
            </div>
        </div>
        <div class="der">
            <div class="der_up">
                <h2>Categoría X</h2>

                <div class="pages">
                    <a href="#">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                     <p>1 de 3</p>
                    <a href="#">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                </div>
            </div>
            <div class="der_down">
                <div class="contenedor__tarjetas">
                    
                </div>
            </div>
        </div>

    </section>

</body>
</html>





<a routerLink="/ecommerce/detalle-producto"> ver detalle-productos </a> 

