<div class="Master">
    
    <div class="Title">
        
        <div class="Pregunta"> 

            <!-- Titulo -->
            <h3>Booleanos</h3> 
            <!-- contexto --> 
            <p>Responde en base a la verdad, Is true?</p>

        </div>

        <div class="Numero">

            <p >Pregunta</p>
            <h4> 1 / 1</h4>
            
        </div>

    </div>

    <!-- Input -->
    <div class="Input"> 
        
        <form>
        
            <div class="opcion">

                <input type="radio" id="True" name="Booleans" value="True">
                <label for="True">True </label><br>
           
            </div>
        
            <div class="opcion">
           
                <input type="radio" id="False" name="Booleans" value="False">
                <label for="False">False </label><br>
           
            </div>
        
        </form>
    
    </div>

</div>

