
<div class="portada">
  <section>
    <svg viewBox="100 0 2000 300">
    	<symbol id="s-text">
    		<text text-anchor="start" x="10%" y="80%">EDUCACION</text>
    	</symbol>

    	<g class = "g-ants">
    		<use xlink:href="#s-text" class="text-copy"></use>
    		<use xlink:href="#s-text" class="text-copy"></use>
    		<use xlink:href="#s-text" class="text-copy"></use>
    		<use xlink:href="#s-text" class="text-copy"></use>
    		<use xlink:href="#s-text" class="text-copy"></use>
    	</g>
    </svg>
    <p class="texto">Millions of developers and companies build, ship, and maintain their software on GitHub—the largest and most advanced development platform in the world.</p>
  </section>

  <div class="botones">
    <button type="button" class="boton categorias" routerLink="/cursos/categorias">Categorias</button>
    <button type="button" class="boton todos" routerLink="/cursos/categoria">Cursos</button>
  </div>

  <div class="imagen"></div>
</div>

<div class="cuadro">
  <div class="imagen">
    <div class="filtro"></div>
  </div>

  <section class="informacion">
    <h3>El gran desafio</h3>

    <p class="texto">
      El desafio para el sector agricola esta
      <span class="resalte n1">mejorando</span>
       debido al cambio
      climatico, nuevas plagas y
      <span class="resalte n2">tecnologias.</span> Obten las nuevas
      <span class="resalte n3">habilidades</span>
      que necesitas en nuestros cursos.
    </p>

    <button type="button" class="boton" routerLink="/cursos/categoria">Todos nuestros cursos</button>
  </section>
</div>


<div class="cuadro">
  <div class="imagen2">
    <div class="filtro"></div>
  </div>

  <section class="informacion2">
    <h3>Campos de estudio</h3>

    <p class="texto">
      Profundiza a un mejor nivel en diferentes <span class="resalte n1">tematicas,</span>
      no representa un grado academico pero visita nuestras
      diferentes <span class="resalte n2">categorias</span> y toma el
      <span class="resalte n3">control</span> de un mismo tema a un mayor nivel.
    </p>

    <button type="button" class="boton" routerLink="/cursos/categorias">Todos nuestras categorias</button>
  </section>
</div>


<div class="recomendaciones" name="slide">
    <p class="texto">
      El aprendizaje digital es un nuevo estilo
      de vida, desarrolla al maximo tus habilidades
      con alguno de nuestros mejores cursos.
    </p>
    <div class="imagenes">
      <div class="imagen n1" routerLink="/cursos/aula">
        <p class="titulo">Curso: Plantio de ejotes</p>
        <p class="descripcion">
          En este curso aprenderas la manera mas eficiente de hacer papas.
        </p>
        <div class="marco"></div>
      </div>

      <div class="imagen n2" routerLink="/cursos/aula">
        <p class="titulo">Curso: Mi huertina</p>
        <p class="descripcion">
          Una huertina en casilla es muy eficientilla, aprende como hacerla tu msimo.
        </p>
        <div class="marco"></div>
      </div>

      <div class="imagen n3" routerLink="/cursos/aula">
        <p class="titulo">Curso: El regado</p>
        <p class="descripcion">
          ¿Realmente las plantas necesitan regarse? ¿Que otras opciones hay? Descubrelas en nuestro curso.
        </p>
        <div class="marco"></div>
      </div>

      <div class="imagen n4" routerLink="/cursos/aula">
        <p class="titulo">Curso: Muuuuu</p>
        <p class="descripcion">
          ¿Las vacas no producen suficiente leche? Aprende a eficientar procesos.
        </p>
        <div class="marco"></div>
      </div>
    </div>
</div>
