
<div class="portada">
  <section>
    <p class="titulo">Educacion</p>
    <p class="texto">Inserte frase shida aqui*</p>
  </section>
  <div class="botones">
    <button type="button" class="boton categorias" routerLink="/cursos/categorias">Categorias</button>
    <button type="button" class="boton todos" routerLink="/cursos/categoria">Cursos</button>
  </div>
</div>

<div class="cuadro">
  <div class="imagen">
    <div class="filtro"></div>
  </div>

  <section class="informacion">
    <h3>El gran desafio</h3>

    <p class="texto">
      El desafio para el sector agricola esta
      <span class="resalte n1">mejorando</span>
       debido al cambio
      climatico, nuevas plagas y
      <span class="resalte n2">tecnologias.</span> Obten las nuevas
      <span class="resalte n3">habilidades</span>
      que necesitas en nuestros cursos.
    </p>

    <button type="button" class="boton" routerLink="/cursos/categoria">Todos nuestros cursos</button>
  </section>
</div>


<div class="recomendaciones" name="slide">
  <a name="slide">Prueba</a>
  Nuestros mejores cursos son:
</div>
