<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foros | Home</title>
</head>

<body>
    <div class="headerForosHome">
        <header>
            <h1>Foros de discusión</h1>
            <input type="image" src="/assets/images/face.png" name="notifications" width="38" height="35" alt="submit">
            <div class="searchBar">
                <input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10"
                    placeholder="Encuentra una publicación">
            </div>
        </header>
    </div>
    <hr>
    <div class="category">
        <h1>General</h1>
        <input type="image"
            src="https://www.flaticon.com/svg/vstatic/svg/32/32195.svg?token=exp=1616803735~hmac=c20cb2b36dd2efa48a00c5b0ebc7bbb6"
            name="showMore" width="28" height="25" alt="submit">
    </div>
    <hr>
    <ul>
        <li><a href="#">- Ayuda con la plataforma</a></li>
        <li><a href="#">- Sección de aprendizaje</a></li>
    </ul>
    <ul>
        <li><input type="image"
                src="https://www.flaticon.com/svg/vstatic/svg/2911/2911228.svg?token=exp=1616803686~hmac=4e8abdade1c7ae57d7a39d9dd8d62ec6"
                name="showMore" width="28" height="25" alt="submit"> 250 publicaciones
        </li>
        <li><input type="image"
                src="https://www.flaticon.com/svg/vstatic/svg/2911/2911228.svg?token=exp=1616803686~hmac=4e8abdade1c7ae57d7a39d9dd8d62ec6"
                name="showMore" width="28" height="25" alt="submit"> 543 publicaciones
        </li>
    </ul>
    <ul>
        <li><input type="image"
                src="https://www.flaticon.com/svg/vstatic/svg/992/992700.svg?token=exp=1616803056~hmac=52391db22c10c05143d7d3517aa3d4ee"
                name="showMore" width="28" height="25" alt="submit"> Hace 20 minutos
        </li>
        <li><input type="image"
                src="https://www.flaticon.com/svg/vstatic/svg/992/992700.svg?token=exp=1616803056~hmac=52391db22c10c05143d7d3517aa3d4ee"
                name="showMore" width="28" height="25" alt="submit"> Hace 3 horas
        </li>
    </ul>

    <div class="category">
        <h1>Simulador</h1>
        <input type="image"
            src="https://www.flaticon.com/svg/vstatic/svg/32/32195.svg?token=exp=1616803735~hmac=c20cb2b36dd2efa48a00c5b0ebc7bbb6"
            name="showMore" width="28" height="25" alt="submit">
    </div>
    <hr>
    <ul>
        <li><a href="#">- Educación financiera</a></li>
        <li><a href="#">- Sistemas de apoyo y acc..</a></li>
    </ul>
    <ul>
        <li><input type="image"
                src="https://www.flaticon.com/svg/vstatic/svg/2911/2911228.svg?token=exp=1616803686~hmac=4e8abdade1c7ae57d7a39d9dd8d62ec6"
                name="showMore" width="28" height="25" alt="submit"> 876 publicaciones
        </li>
        <li><input type="image"
                src="https://www.flaticon.com/svg/vstatic/svg/2911/2911228.svg?token=exp=1616803686~hmac=4e8abdade1c7ae57d7a39d9dd8d62ec6"
                name="showMore" width="28" height="25" alt="submit"> 543 publicaciones
        </li>
    </ul>
    <ul>
        <li><input type="image"
                src="https://www.flaticon.com/svg/vstatic/svg/992/992700.svg?token=exp=1616803056~hmac=52391db22c10c05143d7d3517aa3d4ee"
                name="showMore" width="28" height="25" alt="submit"> Hace 20 minutos
        </li>
        <li><input type="image"
                src="https://www.flaticon.com/svg/vstatic/svg/992/992700.svg?token=exp=1616803056~hmac=52391db22c10c05143d7d3517aa3d4ee"
                name="showMore" width="28" height="25" alt="submit"> Ayer
        </li>
    </ul>


</body>

</html>