<ul class="encab">
    <li><a id="back" routerLink="/cursos/aula">Regresar</a></li>
    <li> <a id="title">Título/Descripcion</a> </li>
    <li>
        <a id="error" href="https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/cursos%2FPDFs%2Fexample.pdf?alt=media&token=42e856b8-897c-4e6e-b882-4cf0f25ee5a1" target="_blank">
            ¿No carga?
            <span id="message">Da click aquí para ir abrir el PDF</span>
        </a>
    </li>
</ul>

<object id="webviewer" data="https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/cursos%2FPDFs%2Fexample.pdf?alt=media&token=42e856b8-897c-4e6e-b882-4cf0f25ee5a1" type="application/pdf">
</object>
