<h1>Eventos</h1>
<br>
<h5>Bienvenid@ a la sección de eventos, donde podrás enterarte de todas las actividades, talleres, capacitaciones y mucho más
    que tenemos preparado para ti.
</h5>
<br>
<br>

    <div class="container">
        <img class="container_image" src="https://www.protocoloimep.com/app/uploads/2016/11/evento-sostenible.png" alt="evento1" >
        <div class="container_text">
        <h4>Evento</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
            Aenean commodo ligula eget dolor. Aenean massa. 
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. </p>
        </div>
    </div>
    <br>
    <div class="container">
        <img class="container_image" src="https://www.protocoloimep.com/app/uploads/2016/11/evento-sostenible.png" alt="evento1" >
        <div class="container_text">
        <h4>Evento</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
            Aenean commodo ligula eget dolor. Aenean massa. 
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. </p>
        </div>
    </div>
    <br>
    <div class="container">
        <img class="container_image" src="https://www.protocoloimep.com/app/uploads/2016/11/evento-sostenible.png" alt="evento1" >
        <div class="container_text">
        <h4>Evento</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
            Aenean commodo ligula eget dolor. Aenean massa. 
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. </p>
        </div>
    </div>

<br>