<section>
    <div>
        <p class="bienvenida">Bienvenido, Ituriel!</p>
    </div>
    <div>
        <a routerLink="/login/perfileditar"> Editar perfil </a>
    </div>
</section>

<!-- Tarjetas -->

<section class="info-section">

    <!-- Card de Información general -->

    <div class="info-container">
        <div class="info-container-titulo">
            <p class="titulo">Tu Información</p>
        </div>
        
        <div class="info-container-lista">
            <ul>
                <li>Nombre: Ituriel Mejia Garita</li>
                <li>Email: iturielmg@hotmail.com</li>
                <li>Fecha de nacimiento: 29 de mayo del 2001</li>
                <li>Dirección: Calle no. 1</li>
                <li>Tipo de usuario: Premium</li>
            </ul>
                
        </div>

    </div>

    <!-- Card de lista de deseos -->
    
    <div class="info-container">
        <div class="info-container-titulo">
            <p class="titulo">Lista de deseos</p>
        </div>
        
        <div class="info-container-lista">
            <ul class="ul-vineta">
                <li>Aguacate</li>
                <li>Cebolla</li>
                <li>Sandía</li>
                <li>Naranjas</li>
            </ul>
                
        </div>

    </div>

    <!-- Card de cursos completados -->

    <div class="info-container">
        <div class="info-container-titulo">
            <p class="titulo">Cursos completados</p>
        </div>
        
        <div class="info-container-lista">
            <ul class="ul-vineta">
                <li>Ganadería</li>
                <li>Agricultura</li>
                <li>Apicultura</li>
                <li>Fertilizantes</li>
            </ul>
                
        </div>

    </div>

    <!-- Card de cursos en progreso -->
    
    <div class="info-container">
        <div class="info-container-titulo">
            <p class="titulo">Cursos en progreso</p>
        </div>
        
        <div class="info-container-lista">
            <ul class="ul-vineta">
                <li>Ganadería</li>
                <li>Agricultura</li>
                <li>Apicultura</li>
                <li>Fertilizantes</li>
            </ul>
                
        </div>

    </div>
    



</section>



