<!DOCTYPE html>
<html>
<head>
    <title>COLPOS Homepage</title>
    <link rel="stylesheet" href="./home-carrusel.component.css">
</head>

<body>
    <div id="slider">
        <input type="radio" name="slider" id="slide1" checked>
        <input type="radio" name="slider" id="slide2">
        <input type="radio" name="slider" id="slide3">
        <input type="radio" name="slider" id="slide4">
        <div id="slides">
            <h1>COLEGIO DE POSTGRADUADOS</h1>
            <a href="https://www.youtube.com/user/ColposTV" target="blank" id="youTube"><img src="https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/home%2Fyoutube.png?alt=media&token=b4086b5a-2f0e-4424-a80f-5943f53f89d9" alt="YouTube" width="50px"></a>
            <a href="https://www.instagram.com/pueblacolpos/?hl=es" target="blank" id="instagram"><img
            src="https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/home%2Finstagram.png?alt=media&token=f4001e5f-950f-4a95-9e7b-be353b5fc8fd"
            alt="Instagram" width="50px"></a>
            <a href="https://www.facebook.com/ColposPuebla" target="blank" id="facebook"><img
            src="https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/home%2Ffacebook.png?alt=media&token=537ed6b0-c8cd-440e-96e5-1fe821e8c6d7"
            alt="Facebook" width="50px"></a>
            <div id="overflow">
                <div class="inner">
                    <div class="slide slide_1">
                        <div class="slide-content">
                            <img src="https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/home%2FCarruselHome1.jpg?alt=media&token=f2a86dab-2d85-42e8-b5fc-4c71bc0a600a" alt="ImgNotFound">
                        </div>
                    </div>
                    <div class="slide slide_2">
                        <div class="slide-content">
                            <img src="https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/home%2FCarruselHome2.jpg?alt=media&token=2a6707ae-110b-4c9a-bb86-929c2f797412" alt="ImgNotFound">
                        </div>
                    </div>
                    <div class="slide slide_3">
                        <div class="slide-content">
                            <img src="https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/home%2FCarruselHome3.jpg?alt=media&token=0b3e7c01-6f4e-41a5-bc89-f038d226cd9e" alt="ImgNotFound">
                        </div>
                    </div>
                    <div class="slide slide_4">
                        <div class="slide-content">
                            <img src="https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/home%2FCarruselHome4.jpg?alt=media&token=1aed154e-4093-41de-a4f9-fc6366996f20" alt="ImgNotFound">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="controls">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
        </div>
        <div id="bullets">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
        </div>
    </div>
</body>
</html>
