#slider {
  margin: 0 auto;
  width: 1230px;
  max-width: 100%;
  text-align: center;
}

#slider input[type="radio"] {
  display: none;
}

#slider label {
  cursor: pointer;
  text-decoration: none;
}

#slides h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  font-size: 4rem;
  position: absolute;
  margin: 210px 0 0 219px;
}

#youTube {
  display: block;
  position: absolute;
  margin: 450px 0 0 980px;
  opacity: 0.7;
}

#instagram {
  display: block;
  position: absolute;
  margin: 450px 0 0 1040px;
  opacity: 0.7;
}

#facebook {
  display: block;
  position: absolute;
  margin: 450px 0 0 1100px;
  opacity: 1;
}

#slides {
  padding: 30px;
  position: relative;
  z-index: 1;
  text-align: center;
}

#overflow {
  width: 100%;
  overflow: hidden;
}

#slide1:checked ~ #slides .inner {
  margin-left: 0;
}

#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}

#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}

#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  line-height: 0;
  height: 506px;
}

#slides .slide {
  width: 25%;
  float: left;
  display: block;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: rgb(44, 42, 42);
}

#controls {
  margin: -130px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}

#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
}

#controls lable:hover {
  opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
  background: url(https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/home%2Fright-arrow.svg?alt=media&token=07d90e64-3acb-4c4e-8689-4645c397e54a)
    no-repeat;
  float: right;
  margin: -190px -50px 0 0;
  display: block;
}

#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(4),
#slide3:checked ~ #controls label:nth-last-child(3),
#slide4:checked ~ #controls label:nth-last-child(2) {
  background: url(https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/home%2Fleft-arrow.svg?alt=media&token=bfd5a07c-a796-4462-a4d9-fdad6d0cd684)
    no-repeat;
  float: left;
  margin: -190px 0 0 -50px;
  display: block;
}

#bullets {
  margin: 100px 0 0;
  text-align: center;
}

#bullets label {
  display: inline-block;
  width: 40px;
  height: 10px;
  background: rgb(158, 154, 154);
  margin: 0 10px;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: black;
}

@media screen and (max-width: 900px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(1),
  #slide2:checked ~ #controls label:nth-last-child(4),
  #slide3:checked ~ #controls label:nth-last-child(3),
  #slide4:checked ~ #controls label:nth-last-child(2) {
    margin: 0;
  }
}
