<!--  
    <ol> 
    <li><a routerLink="/cursos/categoria">Categoria 1</a></li>
    <li><a routerLink="/cursos/categoria">Categoria 2</a></li>
    <li><a routerLink="/cursos/categoria">Categoria 3</a></li>
    </ol>
-->

<!-- Cursos de X Categoría -->
<section class="l-section l-section-diagonal-grey">

    <div class="l-container">
  
      <h2 class="w-100 center-content margin-top">Categorias</h2>
  
      <div class="cards-grid margin-bot">
  
        <div class="card">
          <!-- Imagen de la Card -->
          <div class="card__img img-1"> </div> 
          <div class="card__content">
            <h3 class="card__title">
              Agricultura
            </h3> <!-- Fin card__title -->
            <div class="card__description">
              En esta sección podras encontrar cursos para aprender el cuidado y mantenimiento de tus hortalizas 
            </div> <!-- Fin card__description -->
    
            <div class="card__footer">
                <a routerLink="/cursos/categoria" class="card__button">mostrar cursos</a>
      
            </div> <!-- Fin card__footer -->
          </div> <!-- Fin card__content -->
        </div> <!-- Fin card -->
  
        <div class="card">
          <!-- Imagen de la Card -->
          <div class="card__img img-2"> </div> 
          <div class="card__content">
            <h3 class="card__title">
              Negocios
            </h3> <!-- Fin card__title -->
            <div class="card__description">
              En esta sección podras encontrar cursos para aprender como expandir tu negocio, contenido dedicado para manejar tus costos,gastos y ventas.
            </div> <!-- Fin card__description -->
    
            <div class="card__footer">
              <a routerLink="/cursos/categoria" class="card__button">mostrar cursos</a>
      
            </div> <!-- Fin card__footer -->
          </div> <!-- Fin card__content -->
        </div> <!-- Fin card 2-->

        <div class="card">
            <!-- Imagen de la Card -->
            <div class="img__wrap"> 
                <img class ="img__img" src="https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/cursos%2Fcategorias-agricultura.jpg?alt=media&token=18aa0380-8c6d-48ce-a978-acc110bd3a72"/>
                <p class="img__description">                
                  En esta sección podras encontrar cursos para aprender el cuidado y mantenimiento de tus hortalizas 
                </p>  
            </div> 
            <div class="card__content">
              <h3 class="card__title">
                Agricultura
              </h3> <!-- Fin card__title -->
      
              <div class="card__footer">
                <a routerLink="/cursos/categoria" class="card__button">mostrar cursos</a>
        
              </div> <!-- Fin card__footer -->
            </div> <!-- Fin card__content -->
          </div> <!-- Fin card 3-->


        <div class="card">
          <!-- Imagen de la Card -->
          <div class="img__wrap"> 
              <img class ="img__img" src="https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/cursos%2Fcategorias-negocios.jpg?alt=media&token=e7b1cf6c-eb87-4709-baaf-ab103459dd2b"/>
              <p class="img__description">                
                  En esta sección podras encontrar cursos para aprender como expandir tu negocio, contenido dedicado para manejar tus costos,gastos y ventas.
              </p>  
          </div> 
          <div class="card__content">
            <h3 class="card__title">
              Negocios
            </h3> <!-- Fin card__title -->
    
            <div class="card__footer">
              <a routerLink="/cursos/categoria" class="card__button">mostrar cursos</a>
      
            </div> <!-- Fin card__footer -->
          </div> <!-- Fin card__content -->
        </div> <!-- Fin card 4-->
  

        
      </div> <!-- Fin cards-grid -->
    </div><!-- Fin l-container -->
  
  </section>
  