body {
    margin: 0;
    font-family: lato, sans-serif;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
p,
h6 {
    margin-top: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
    font-weight:bold ;
}
p {
    font-size: 1.5rem;
}

@media screen and (min-width: 960px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.8rem;
    } 
    h3 {
        font-weight: 1500 ;
        font-size: 1.5rem;
    }
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.w-100{
    width: 100%;
}

.margin-top {
    margin-top: 1rem;
}

.margin-bot {
    margin-bottom: 1.5rem;
}

.center-block{
    margin-left: auto;
    margin-right: auto;
}

.center-content{
    text-align: center;
}

.l-container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.l-section {
    margin-bottom: 2rem;
}

@media screen and (min-width: 960px) {
    .l-section {
        margin-bottom: 4rem;
    }
}

.l-section-diagonal-grey {
  position: relative;
}

.l-section-diagonal-grey:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    z-index: -10;
    -webkit-transform: skewY(-1deg);
            transform: skewY(-1deg);
}

@media screen and (min-width: 960px) {
    .l-section-diagonal-grey:before {
        -webkit-transform: skewY(-1.5deg);
                transform: skewY(-1.5deg);
    }
}

.img-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[16];
        grid-template-columns: repeat(16, 1fr);
    -ms-grid-rows: (1fr)[9];
        grid-template-rows: repeat(9, 1fr);
    position: relative;
    background: url(https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/cursos%2Fcategorias-agricultura.jpg?alt=media&token=18aa0380-8c6d-48ce-a978-acc110bd3a72) center/cover;
}

.img-1::before {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.img-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[16];
        grid-template-columns: repeat(16, 1fr);
    -ms-grid-rows: (1fr)[9];
        grid-template-rows: repeat(9, 1fr);
    position: relative;
    background: url(https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/cursos%2Fcategorias-negocios.jpg?alt=media&token=e7b1cf6c-eb87-4709-baaf-ab103459dd2b) center/cover;
}

.img-2::before {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/* teste code */
.img__wrap {
    position: relative;
    width: 100%;
    height: 80%;
  }
  .img__wrap img{
      width:100%;
      height: 100%;
      object-fit:cover;
  }
  .img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(209, 209, 209, 0.72);
    color: rgb(44, 44, 44);
    visibility: none;
    opacity: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;

    /* transition effect. not necessary */
    transition: opacity .7s, visibility .7s;
  }
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;

  }
 /* end teste code */
 

.card {
    border: 1px solid #dfe0e0;
    position: relative;
    width: 400px;
    height: auto;
}
  
.card__content {
    padding: 1rem;
    background: #fff;
    height: 200px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

@media screen and (min-width: 960px) {
    .card__content {
        height: 200px;
    }
}

.card__subtitle {
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    opacity: 0.6;
    font-weight:bold ;
}

.card__footer {
    border-top: 1px solid #dfe0e0;
    margin-top: 1rem;
    padding-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: 1rem;
    width: calc(100% - 2rem);
}

.cards-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
}

@media screen and (min-width: 960px) {
    .cards-grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[2];
            grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
}

.card__button {
    color: #ff3c32;
    display: inline-block;
    border: 1px solid #ff3c32;
    padding: 0.5em 1em;
    border-radius: 0.25rem;
}

.card__button:hover {
    background: #ff3c32;
    color: #fff;
}
