<!-- Cursos de X Categoría -->
<section class="l-section l-section-diagonal-grey">

  <div class="l-container">

    <h2 class="w-100 center-content margin-top">Cursos</h2>

    <div class="cards-grid margin-bot">

      <div class="card">
        <!-- Imagen de la Card -->
        <div class="card__img img-1"> </div> 
        <div class="card__content">
          <h3 class="card__title">
            Curso de Huertos Urbanos
          </h3> <!-- Fin card__title -->
          <div class="card__subtitle">
            Viernes 26 de marzo (5pm - 9pm)
          </div> <!-- Fin card__subtitle -->
          <div class="card__description">
            En este curso aprenderás, como germinar, trasplantar y  nutrir tus hortalizas, en espacios poco adecuados para ello, puedes cultivar tus tomates en un bote (reciclado) tus hierbas aromáticas en una mitad de llanta, unas macetas de chiles a tu elección. Todo es posible!
          </div> <!-- Fin card__description -->
  
          <div class="card__footer">
    
            <div class="card__footer-text">
              By Jorge Tato
            </div> <!-- Fin card__footer -->
            <a routerLink="/cursos/aula" class="card__button">
              Explorar
            </a>
    
          </div> <!-- Fin card__footer -->
        </div> <!-- Fin card__content -->
      </div> <!-- Fin card -->

      <div class="card">
        <!-- Imagen de la Card -->
        <div class="card__img img-1"> </div> 
        <div class="card__content">
          <h3 class="card__title">
            Curso de Huertos Urbanos
          </h3> <!-- Fin card__title -->
          <div class="card__subtitle">
            Viernes 26 de marzo (5pm - 9pm)
          </div> <!-- Fin card__subtitle -->
          <div class="card__description">
            En este curso aprenderás, como germinar, trasplantar y  nutrir tus hortalizas, en espacios poco adecuados para ello, puedes cultivar tus tomates en un bote (reciclado) tus hierbas aromáticas en una mitad de llanta, unas macetas de chiles a tu elección. Todo es posible!
          </div> <!-- Fin card__description -->
  
          <div class="card__footer">
    
            <div class="card__footer-text">
              By Jorge Tato
            </div> <!-- Fin card__footer -->
            <a routerLink="/cursos/aula" class="card__button">
              Explorar
            </a>
    
          </div> <!-- Fin card__footer -->
        </div> <!-- Fin card__content -->
      </div> <!-- Fin card 2-->
      
      <div class="card">
        <!-- Imagen de la Card -->
        <div class="card__img img-1"> </div> 
        <div class="card__content">
          <h3 class="card__title">
            Curso de Huertos Urbanos
          </h3> <!-- Fin card__title -->
          <div class="card__subtitle">
            Viernes 26 de marzo (5pm - 9pm)
          </div> <!-- Fin card__subtitle -->
          <div class="card__description">
            En este curso aprenderás, como germinar, trasplantar y  nutrir tus hortalizas, en espacios poco adecuados para ello, puedes cultivar tus tomates en un bote (reciclado) tus hierbas aromáticas en una mitad de llanta, unas macetas de chiles a tu elección. Todo es posible!
          </div> <!-- Fin card__description -->
  
          <div class="card__footer">
    
            <div class="card__footer-text">
              By Jorge Tato
            </div> <!-- Fin card__footer -->
            <a routerLink="/cursos/aula" class="card__button">
              Explorar
            </a>
    
          </div> <!-- Fin card__footer -->
        </div> <!-- Fin card__content -->
      </div> <!-- Fin card 3-->

      <div class="card">
        <!-- Imagen de la Card -->
        <div class="card__img img-1"> </div> 
        <div class="card__content">
          <h3 class="card__title">
            Curso de Huertos Urbanos
          </h3> <!-- Fin card__title -->
          <div class="card__subtitle">
            Viernes 26 de marzo (5pm - 9pm)
          </div> <!-- Fin card__subtitle -->
          <div class="card__description">
            En este curso aprenderás, como germinar, trasplantar y  nutrir tus hortalizas, en espacios poco adecuados para ello, puedes cultivar tus tomates en un bote (reciclado) tus hierbas aromáticas en una mitad de llanta, unas macetas de chiles a tu elección. Todo es posible!
          </div> <!-- Fin card__description -->
  
          <div class="card__footer">
    
            <div class="card__footer-text">
              By Jorge Tato
            </div> <!-- Fin card__footer -->
            <a routerLink="/cursos/aula" class="card__button">
              Explorar
            </a>
    
          </div> <!-- Fin card__footer -->
        </div> <!-- Fin card__content -->
      </div> <!-- Fin card 4-->

      <div class="card">
        <!-- Imagen de la Card -->
        <div class="card__img img-1"> </div> 
        <div class="card__content">
          <h3 class="card__title">
            Curso de Huertos Urbanos
          </h3> <!-- Fin card__title -->
          <div class="card__subtitle">
            Viernes 26 de marzo (5pm - 9pm)
          </div> <!-- Fin card__subtitle -->
          <div class="card__description">
            En este curso aprenderás, como germinar, trasplantar y  nutrir tus hortalizas, en espacios poco adecuados para ello, puedes cultivar tus tomates en un bote (reciclado) tus hierbas aromáticas en una mitad de llanta, unas macetas de chiles a tu elección. Todo es posible!
          </div> <!-- Fin card__description -->
  
          <div class="card__footer">
    
            <div class="card__footer-text">
              By Jorge Tato
            </div> <!-- Fin card__footer -->
            <a routerLink="/cursos/aula" class="card__button">
              Explorar
            </a>
    
          </div> <!-- Fin card__footer -->
        </div> <!-- Fin card__content -->
      </div> <!-- Fin card 5-->

    </div> <!-- Fin cards-grid -->
  </div><!-- Fin l-container -->

</section>
