
<h1>Categorías</h1>
<section class="wrap-categorias">

   <a href="#">
    <div class="caja">
        <div class="caja-titulo">
            <h3>Nombre de categoría</h3>
        </div>
        <div class="caja-img">
            <div class="imagen">
                <img src="https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/ecommerce%2Fnathan-dumlao-6VhPY27jdps-unsplash.jpg?alt=media&token=752b142d-f65a-4c29-814a-fef9114eeb7b" alt="">
            </div>
        </div>
    </div>
   </a>


    <div class="caja">
        <div class="caja-titulo">
            <h3>Nombre de categoría</h3>
        </div>
        <div class="caja-img">
            <div class="imagen">
                <img src="https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/ecommerce%2Fnathan-dumlao-6VhPY27jdps-unsplash.jpg?alt=media&token=752b142d-f65a-4c29-814a-fef9114eeb7b" alt="">
            </div>
        </div>
    </div>

    <div class="caja">
        <div class="caja-titulo">
            <h3>Nombre de categoría</h3>
        </div>
        <div class="caja-img">
            <div class="imagen">
                <img src="https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/ecommerce%2Fnathan-dumlao-6VhPY27jdps-unsplash.jpg?alt=media&token=752b142d-f65a-4c29-814a-fef9114eeb7b" alt="">
            </div>
        </div>
    </div>

    <div class="caja">
        <div class="caja-titulo">
            <h3>Nombre de categoría</h3>
        </div>
        <div class="caja-img">
            <div class="imagen">
                <img src="https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/ecommerce%2Fnathan-dumlao-6VhPY27jdps-unsplash.jpg?alt=media&token=752b142d-f65a-4c29-814a-fef9114eeb7b" alt="">
            </div>
        </div>
    </div>

    <div class="caja">
        <div class="caja-titulo">
            <h3>Nombre de categoría</h3>
        </div>
        <div class="caja-img">
            <div class="imagen">
                <img src="https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/ecommerce%2Fnathan-dumlao-6VhPY27jdps-unsplash.jpg?alt=media&token=752b142d-f65a-4c29-814a-fef9114eeb7b" alt="">
            </div>
        </div>
    </div>

    <div class="caja">
        <div class="caja-titulo">
            <h3>Nombre de categoría</h3>
        </div>
        <div class="caja-img">
            <div class="imagen">
                <img src="https://firebasestorage.googleapis.com/v0/b/colpos-storage.appspot.com/o/ecommerce%2Fnathan-dumlao-6VhPY27jdps-unsplash.jpg?alt=media&token=752b142d-f65a-4c29-814a-fef9114eeb7b" alt="">
            </div>
        </div>
    </div>

</section>
<a routerLink="/ecommerce/productos"> ver productos </a> 
